body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

button {
    color: black;
    font-size: 19px;

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: Arial Round;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-around;
    gap: 19px;
}

.background {
    background-size: cover;
    background-position: center;
    height: 85vh;
    max-width: 1440px;
    margin: auto;
}

.second {
    color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.third {

    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.feature-rows-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 0px 24px 24px 0px;
    font-size: 18px;
}

.first-row {
    display: flex;
    gap: 24px;
    padding: 0px 24px 24px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-row {
    display: flex;
    gap: 24px;
    padding: 0px 24px 24px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 33.33%;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 20px;
    padding: 0px 24px 24px 0px;
    font-size: 18px;

}

.card>img {
    mix-blend-mode: multiply;
}

.third-slide {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.first-word {
    position: absolute;
    z-index: 2;
    left: 88px;
    top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-word {
    font-size: 25px;
    z-index: 2;
    left: 0;
    top: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.third-word {
    font-size: 17px;
}

.buttons>a {

    background-color: black;
    padding: 0px 20px;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.buttons svg {
    width: 20px;


}

.MobileComputing-section {
    max-width: 1400px;
    position: relative;
    z-index: -1;
    margin: auto;
    margin-top: 75px;
    margin-right: 40px;
}

.a-word {
    padding: 24px;

    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.b-word {
    padding: 24px;

    position: absolute;
    top: 370px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.some-word {
    padding: 24px;
    font-size: 16px;
    position: absolute;
    top: 55px;
    width: 100%;

    display: flex;
    justify-content: center;

    height: 100%;


}

.another-button {
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 10px 24px 11px 24px;

}

.TVAudio-section {
    position: relative;
    max-width: 1440px;
    margin: auto;
    margin-top: -4px;
}

.texts {
    font-size: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.threetab {
    bottom: 700px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.secondtext {
    font-size: 23px;
    position: absolute;
    top: 500px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.thirdtext {
    padding: 28px;
    font-size: 16px;
    position: absolute;
    top: 55px;
    width: 100%;

    display: flex;
    justify-content: center;

    height: 100%;
}

.thirdbutton {
    background-color: black;
    padding: 0px 20px;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.sustainability-section {
    position: relative;
    max-width: 1440px;
    margin: auto;
    margin-top: -4px;
}

.card-text {
    color: red;
}

.text-container {
    font-size: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text2>button {
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 24px 11px 24px;
}


.line {
    display: flex;
    flex-direction: row;
}

.tab {
    bottom: 700px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    text-transform: none;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;


}

li {
    list-style-type: none;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    margin-left: 40px;

}